@import "../settings/breakpoints.scss";

.hero {
    position: relative;
    width: 100%;
    height: 76vh;
    min-height: 600px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 100%),
    url('../../../public/img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    @include max-tablet{
       height: 96vh;
    }

    &__content{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px 80px;
        color: var(--white);
        @include max-tablet{
            padding: 0 0 120px 96px ;
        }
    }

    &__title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 16px;
        color: var(--white);
        text-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        @include max-tablet{
            font-size:72px ;
            margin-bottom: 24px;
        }
    }

    &__text{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 32px;
        max-width: 700px;
        color: var(--white);
        font-weight: 400;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        @include max-tablet{
            font-size:22px ;
        }
    }
}

.steps {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-around;
    transform: translateY(-40px);
    padding: 0 20px 32px;
    @include max-desktop{
        padding: 0 96px 76px;
        flex-direction: row;
        transform: translateY(-40px);
    }
    &__item{
        background-color: var(--beige-light);
        padding: 22px;
        border-radius: 8px;
        flex: 1;
        @include max-tablet{
            padding: 40px;

        }
    }
    &__number{
        font-weight: 500;
        color: var(--olive-light);
        font-size: 60px;
        @include min-tablet{
            font-size: 32px;

        }
    }

    &__text{
        font-size: 20px;
        font-weight: 500;
        padding: 16px 0;
    }

    &__link{
        color: var(--olive-dark);
    }
    @include tablet{
        padding: 0 76px;
    }
}



.about{
    display: flex;
    justify-content: space-between;
    gap: 32px;

    &__header{
        font-size: 32px;
    }
    &__separator{
        position: relative;
        top: -8px;
    }

    &__content{
        &__info{
            padding-bottom: 16px;
            max-width: 700px;
        }
    }
    &__media{
        position: relative;
        &__image{
            border-radius: 8px;
            @include min-tablet{
                display: none;
            }
        }
        &__svg{
            position: absolute;
            top: -118px;
            left: -112px;
            z-index: -1;
            @include min-tablet{
                top: -50px;
                left: -222px;
                width: 415px;
                height: 310px;
            }
        }
    }
}
