@import "../../settings/breakpoints";

.footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--olive-dark);
    color: var(--white);
    padding: 32px 20px;
    flex-direction: column;
    gap: 32px;
    @include max-desktop{
        padding: 50px 40px;
        flex-direction: row;
    }
    &__title{
        font-size: 24px;
        @include max-desktop{
            font-size: 32px;
        }
    }
    &__text{
        padding-top: 16px;
    }
    &__item{
        padding-top: 16px;
    }
    &__link{
        color: var(--white);
        padding-top: 16px;
    }
    &__time{
        font-weight: 600;

    }

}
