:root {
    --olive-dark: #676731;
    --olive-dark-hover : #4f4f22;
    --olive-light: #919164;
    --form-olive : rgba(115, 104, 60, 0.40);

    --olive-brown: #554D2B;

    --beige-light: #EEE1D1;
    --beige-yellow: #F4EAC0;

    --brown-warm: #AE9074;

    --grey-dark: #707070;
    --grey-medium: rgba(0, 0, 0, 0.33);
    --grey-light: #F6F6F6;

    --black-soft: #363636;
    --white: #FFFFFF;
}
