@import "../../settings/breakpoints.scss";

.cta__btn {
    display: inline-block;
    padding: 16px 40px;
    background-color: var(--olive-dark);
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-transform: uppercase;
    @include max-tablet{
        padding: 16px 48px;
        font-size: 16px;
        font-weight: 700;
    }
}

.cta__btn:hover {
    background-color: var(--white) ;
    color: var(--olive-dark-hover) ;
    outline: 2px var(--olive-dark-hover) solid;
}


.header__cta__btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--olive-dark);
    color: var(--white);
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s ease;
}

button{
    border: none;
}
